<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_15_Pandas_Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

2.1.15 Tartiblash (Sort)

In [1]:
import pandas as pd
import numpy as np

#Series obyektini tartiblash

In [3]:
obj = pd.Series(range(4), index = ["d", "a", "b", "c"])
obj

d    0
a    1
b    2
c    3
dtype: int64

#`sort_index` - Series ni indeks bo'yicha tartiblash

In [4]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

#`sort_values` - Series ni qiymatlar bo'yicha tartiblash

In [6]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

#DataFrame obyektini tartiblash

In [8]:
# internetdan CSV faylni dataframe ga yuklab olamiz
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv", index_col = 0)
df.head()

   price      brand    model  ...       state country      condition
0   6300     toyota  cruiser  ...  new jersey     usa   10 days left
1   2899       ford       se  ...   tennessee     usa    6 days left
2   5350      dodge      mpv  ...     georgia     usa    2 days left
3  25000       ford     door  ...    virginia     usa  22 hours left
4  27700  chevrolet     1500  ...     florida     usa  22 hours left

[5 rows x 12 columns]

In [9]:
df.shape

(2499, 12)

#`sort_index` - DataFrame ni index bo'yicha tartiblash

In [10]:
df.sort_index() # indeksi bo'yicha tartiblash

      price      brand    model  ...       state country      condition
0      6300     toyota  cruiser  ...  new jersey     usa   10 days left
1      2899       ford       se  ...   tennessee     usa    6 days left
2      5350      dodge      mpv  ...     georgia     usa    2 days left
3     25000       ford     door  ...    virginia     usa  22 hours left
4     27700  chevrolet     1500  ...     florida     usa  22 hours left
...     ...        ...      ...  ...         ...     ...            ...
2494   7800     nissan    versa  ...  california     usa    1 days left
2495   9200     nissan    versa  ...     florida     usa  21 hours left
2496   9200     nissan    versa  ...     florida     usa  21 hours left
2497   9200     nissan    versa  ...     florida     usa    2 days left
2498   9200     nissan    versa  ...     florida     usa  21 hours left

[2499 rows x 12 columns]

In [11]:
df.sort_index(axis = 1) # ustunlar bo'yicha tartiblash

          brand   color  ...                  vin  year
0        toyota   black  ...    jtezu11f88k007763  2008
1          ford  silver  ...    2fmdk3gc4bbb02217  2011
2         dodge  silver  ...    3c4pdcgg5jt346413  2018
3          ford    blue  ...    1ftfw1et4efc23745  2014
4     chevrolet     red  ...    3gcpcrec2jg473991  2018
...         ...     ...  ...                  ...   ...
2494     nissan     red  ...    3n1cn7ap9kl880319  2019
2495     nissan  silver  ...    3n1cn7ap5jl884088  2018
2496     nissan  silver  ...    3n1cn7ap9jl884191  2018
2497     nissan   black  ...    3n1cn7ap3jl883263  2018
2498     nissan  silver  ...    3n1cn7ap4jl884311  2018

[2499 rows x 12 columns]

In [14]:
df.sort_index(axis = 1, inplace = True) # ustunlar bo'yicha tartiblash, inplace = True DataFrame tartiblangan holda qoladi

In [15]:
df.sort_index(ascending = False) # Indeks bo'yicha teskari tartiblash

          brand   color  ...                  vin  year
2498     nissan  silver  ...    3n1cn7ap4jl884311  2018
2497     nissan   black  ...    3n1cn7ap3jl883263  2018
2496     nissan  silver  ...    3n1cn7ap9jl884191  2018
2495     nissan  silver  ...    3n1cn7ap5jl884088  2018
2494     nissan     red  ...    3n1cn7ap9kl880319  2019
...         ...     ...  ...                  ...   ...
4     chevrolet     red  ...    3gcpcrec2jg473991  2018
3          ford    blue  ...    1ftfw1et4efc23745  2014
2         dodge  silver  ...    3c4pdcgg5jt346413  2018
1          ford  silver  ...    2fmdk3gc4bbb02217  2011
0        toyota   black  ...    jtezu11f88k007763  2008

[2499 rows x 12 columns]

In [16]:
df.sort_index(axis = 1, ascending = False) # Ustunlar bo'yicha teskari tartiblash

      year                  vin  ...   color      brand
0     2008    jtezu11f88k007763  ...   black     toyota
1     2011    2fmdk3gc4bbb02217  ...  silver       ford
2     2018    3c4pdcgg5jt346413  ...  silver      dodge
3     2014    1ftfw1et4efc23745  ...    blue       ford
4     2018    3gcpcrec2jg473991  ...     red  chevrolet
...    ...                  ...  ...     ...        ...
2494  2019    3n1cn7ap9kl880319  ...     red     nissan
2495  2018    3n1cn7ap5jl884088  ...  silver     nissan
2496  2018    3n1cn7ap9jl884191  ...  silver     nissan
2497  2018    3n1cn7ap3jl883263  ...   black     nissan
2498  2018    3n1cn7ap4jl884311  ...  silver     nissan

[2499 rows x 12 columns]

#`sort_values` - DataFrame ni qiymatlar bo'yicha tartiblash

In [17]:
df.sort_values(by = "price") # berilgan ustunnning qiymatlari bo'yicha tartiblash

              brand     color  ...                  vin  year
410       chevrolet     green  ...    2gcec19h8s1195266  1995
330            ford     green  ...    1falp62w5th144314  1996
331            ford       red  ...    1fmzk04136ga07119  2006
339            ford     black  ...    3fafp37372r151014  2002
496            ford       red  ...    1ftef15n0tlc14455  1996
...             ...       ...  ...                  ...   ...
1215           ford     black  ...    1ft7w2bt0kec44818  2019
277           dodge      blue  ...    2c3cdzl97kh518237  2019
1336           ford  no_color  ...    1ft8w3dt3kee48276  2019
1340           ford  no_color  ...    1ft8w4dt6ked32656  2019
502   mercedes-benz    silver  ...    wddjk7ea3hf044968  2017

[2499 rows x 12 columns]

In [18]:
df.sort_values(by = "price", ascending = False) # berilgan ustunnning qiymatlari bo'yicha teskari tartiblash

              brand     color  ...                  vin  year
502   mercedes-benz    silver  ...    wddjk7ea3hf044968  2017
1340           ford  no_color  ...    1ft8w4dt6ked32656  2019
1336           ford  no_color  ...    1ft8w3dt3kee48276  2019
277           dodge      blue  ...    2c3cdzl97kh518237  2019
1215           ford     black  ...    1ft7w2bt0kec44818  2019
...             ...       ...  ...                  ...   ...
141           dodge    orange  ...    2d8hn44h88r669549  2008
391        cadillac     white  ...    1g6el12y9yu148063  2000
285            ford     black  ...    1fafp34p7yw270338  2000
290           mazda      gray  ...    jm3er293590215768  2009
354            ford      blue  ...    1ftyr10d19pa60391  2009

[2499 rows x 12 columns]

In [21]:
df.sort_values(by = ["price", "mileage"], ascending = False) # price va milage ustunlarining qiymatlari bo'yicha teskari tartiblash

              brand       color  ...                  vin  year
502   mercedes-benz      silver  ...    wddjk7ea3hf044968  2017
1340           ford    no_color  ...    1ft8w4dt6ked32656  2019
1336           ford    no_color  ...    1ft8w3dt3kee48276  2019
277           dodge        blue  ...    2c3cdzl97kh518237  2019
1215           ford       black  ...    1ft7w2bt0kec44818  2019
...             ...         ...  ...                  ...   ...
196            ford       white  ...    1fbax2cv0hkb32599  2017
349       heartland       white  ...    5sfgf29269e031344  2009
309       chevrolet      maroon  ...    3gnek12t74g240524  2004
322            ford       green  ...    1fdee14n7rha47894  1994
545             gmc  light blue  ...    1gkfk16k5pj701631  1993

[2499 rows x 12 columns]

In [22]:
df.sort_values(by = "year") # year ustunidagi qiymatlar bo'yicha tartiblash

          brand       color  ...                  vin  year
32    chevrolet         red  ...        1q87t3n166389  1973
405        ford       white  ...    2ftcf15y9eca14589  1984
545         gmc  light blue  ...    1gkfk16k5pj701631  1993
362        ford       white  ...    1ftdf15y2rnb12612  1994
322        ford       green  ...    1fdee14n7rha47894  1994
...         ...         ...  ...                  ...   ...
426       lexus      silver  ...    jtjam7bx4l5251250  2020
806   chevrolet      silver  ...    1gcgtcen7l1101496  2020
2322     nissan        blue  ...    1n4bl4cv4lc134145  2020
2344     nissan        blue  ...    jn8at2mvxlw103235  2020
1388       ford        gray  ...    3fa6p0d98lr194138  2020

[2499 rows x 12 columns]